#header-box {
  padding: $padding-base-horizontal;
  background-color: #ecf0f1;
  box-shadow: 0px 3px 2px #ccc;
  z-index: 10;
}

#wrapper {
  padding: 0;
  overflow: hidden;
}

#overlay {
  background-color: #ecf0f1;
}
