/*
Error: Undefined mixin 'filter'.
        on line 2 of layout.scss, in `filter'
        from line 2 of layout.scss

1: #overlay {
2:   @include filter(saturate(10%) brightness(0.3));
3:   @include transition(1s);
4:   //@include filter(brightness(0.5));
5:   position: fixed;
6:   width: 100%;
7:   height: 100%;

Backtrace:
layout.scss:2:in `filter'
layout.scss:2
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:332:in `block in visit_mixin'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/stack.rb:98:in `block in with_mixin'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/stack.rb:98:in `with_mixin'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:330:in `visit_mixin'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:414:in `block (2 levels) in visit_rule'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:414:in `map'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:414:in `block in visit_rule'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:412:in `visit_rule'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:151:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/engine.rb:285:in `render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/plugin.rb:82:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/exec/sass_scss.rb:329:in `watch_or_update'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/exec/sass_scss.rb:50:in `process_result'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/exec/base.rb:40:in `parse'
/var/lib/gems/2.1.0/gems/sass-3.4.2/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/2.1.0/gems/sass-3.4.2/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'filter'.\A         on line 2 of layout.scss, in `filter'\A         from line 2 of layout.scss\A \A 1: #overlay {\A 2:   @include filter(saturate(10%) brightness(0.3));\A 3:   @include transition(1s);\A 4:   //@include filter(brightness(0.5));\A 5:   position: fixed;\A 6:   width: 100%;\A 7:   height: 100%;"; }
