.dashboard {
  @include backColor(#e9e9e9, 1);
  .main-menu {
    @include backColor(#f2f2ea, 1);
    border-right: 1px solid #ccc;
    //    box-shadow: 1px 0px 2px #ccc;
    z-index: 1;

    @each $color in orange, blue, gray, soft-gray {
      .border-color-#{$color} {
        &:hover > .main-menu-icon {
          color: #f00;
        }
      }
    }

    .row {
      cursor: pointer;
      color: #767675;
      border-bottom: 1px solid #ccc !important;
      border-left: 4px solid;
      &:hover > .main-menu-icon {
        color: #fff;
      }

      .small-title {
        @include backColor(#dd6161, 1);
        padding: 15px;
        border-right: 1px solid #ccc;
        box-shadow: 1px 1px 2px #ccc;
      }
      .main-menu-title {
        padding: 15px;
        border-left: 1px solid #ccc;
      }
      .main-menu-icon {
        padding: 12px;
        font-size: 0.4rem;
        text-align: center;

      }
    }
  }
}