.general-box {
  background-color: #f2f2f0;
  z-index: 0;
  .heading-submit {
    margin-top: 5px;
  }

  .form-box {
    input:not([type="submit"]), select, textarea {
      color: $gray;
    }

    .errorlist {
      @extend .list-unstyled;
      @extend .alert;
      @extend .alert-danger;
      margin-bottom: 8px;
      padding: 5px;
      font-size: 0.20rem;
    }
  }

  .icon-box-container {
    text-align: center;
    a:hover {
      text-decoration: none;
    }
    i {
      cursor: pointer;
      &:hover {
        color: darken(gray, 10%);
      }
    }
  }

}